*,*::before,*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    /* overflow-x: hidden; */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5,h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
.attribution{
    text-align: center;
    margin: 0 auto;
}
/* ///////////////////////////////////////////////////////////////// */
.container{
    height: 97vh;
    max-width: 750px;
    min-width: 375px;
    
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    
}

/* ////////////////////////////////CARDS///////////////////////////////// */
.card-side{
    height: 30%;
    width: 100%;
    background-repeat: no-repeat;
    color: white;
    position: relative; 
    padding-top: 1.75rem;
}
.background{
    background-image: url('images/bg-main-mobile.png');
    background-size: cover;
    height: 30%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    min-width: 375px;
}
.back-card{
    position: absolute;
    left: 4rem;
    width: 300px;
}
.back-card img{
    width: 300px;
}
.card-pin{
    position: absolute;
    top: 4.45rem;
    left: 14.75rem;
    font-size: .85rem;
}

.front-card-img{
    width: 300px;
    position: absolute;
    left: 1rem;
    top: 7.5rem;
    
    
}
.card-logo{
    position: absolute;
    width: 70px;
    top: 8.5rem;
    left: 2rem;

    z-index: 1;
}
.card-number{
    position: absolute;
    z-index: 1;
    top: 13rem;
    left: 1.85rem;
    letter-spacing: 3px;
    font-size: 1.1rem;
}
.card-name{
    position: absolute;
    z-index: 1;
    top: 15.5rem;
    left: 1.75rem;
    font-size: .70rem;
    letter-spacing: 1px;
    
}
.card-date{
    position: absolute;
    z-index: 1;
    top: 15.5rem;
    left: 16.5rem;
    font-size: 0.70rem;
}
/* ///////////////////////FORMS////////////////////////////////////////// */
.form{
    margin: 5rem auto;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 500px;
}
.input-name, .input-number{
    padding: .5rem;
    border: 1px solid hsla(279, 6%, 55%, 0.5);
    border-radius: 7px;
}
.input-name:focus, .input-number:focus, .input-exp:focus,.input-cvc:focus{
    outline-color: hsl(249, 99%, 64%);
}
.input-error{
    border-color: hsl(0, 100%, 66%) !important;
}
.input-error:focus{
    outline: none !important;
}

.input-cvc{
    padding: 0.5rem 0.25rem;
    border: 1px solid hsla(279, 6%, 55%, 0.5);
    border-radius: 7px;
    width: 172.5px;
    margin-top: 0.5rem;
}
.input-month, .input-year{
    width: 75px;
    padding: 0.5rem 0.75rem;
    border: 1px solid hsla(279, 6%, 55%, 0.5);
    border-radius: 7px;
}

.input-date{
    display: flex;
}
.inputs{
    margin-top: 0.5rem;
}
.name, .card{
    display: flex;
    flex-direction: column;
    height: 84px;
}
.cvc{
    width: 100px;
    margin-left: 1rem;
}
label{
    margin-bottom: 0.5rem;
    font-size: 0.80rem;  
    font-weight: 600;
    letter-spacing: 2px;
    
}

button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    padding: 0.75rem;
    border-radius: 7px;
    border: none;
    margin-top: 1.75rem;
    cursor: pointer;
}

.error-state{
    color: hsl(0, 100%, 66%);
    font-size: 0.75rem;
    text-transform: none;
    display: none;
}
/* ///////////////////////COMPLETE////////////////////////////////////////// */

.completed-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    gap: 2rem;
}
.completed-side img{
    width: 100px;
}
.completed-side p{
    text-transform: none;
    color: gray;
    font-size: 1.2rem;
}
h2{
    font-size: 2rem;
    letter-spacing: 3px;
}
.complet-button{
    padding: 1rem 8rem;
    cursor: pointer;
}